a
{
	display: block;
	background:green;
	color: white;
	padding:15px;
	cursor: pointer;
	text-decoration: none;
	width: 260px;
	text-align: center;
	border-radius: 5px;
	margin-top:20px;
	font-size: 20px;
}
a:hover{
	background: #00729D;
}
